html {
  background-size: cover;
    background: linear-gradient(to left bottom, white, #f88379) no-repeat center center fixed;
}

i {
  color: black;
}

body {
  font-family: 'Titillium Web', sans-serif;
}