.homepage {
    display: flex;
    font-family: 'Titillium Web', sans-serif;
    flex-direction: column;
    width: 100%;
}
.page__header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    
}
.page__title {
    margin-bottom: 0em;
    /* margin-top: 0em; */
    color: white;
    font-size: 8em;
    animation: slideLeft 2s;
}

.name {
    color: #7d92a5;
}
.page__photo {
    margin-top: 7em;
    height: 20em;
    width: 20em;
    border: dashed 5px white;
    padding: 1em;
    border-radius: 50%;
    animation: slideRight 2s;
}
.hide {
    display: none;
}
.page__text{
    text-align: center;
    color: white;
    font-size: 2em;
    animation: fadeIn 1s;
    margin: 10px;
}
#github {
    color: white;
    font-size: 1em;
}

#linkedin {
    color: white;
    font-size: 1em;

}
.page__text svg:hover {
    transform: scale(1.1);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    color: pink;
    animation: zoomIn 0.8s;
}
@keyframes slideLeft {
    0% {
        transform: translateX(100%);
        opacity: 0.4;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
        opacity: 0.4
    }
    100% {
        transform: translateX(0%);
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(100%);
        opacity: 0.3
    }
    60% {
        transform: translateY(-70%);
        opacity: 0.7
    }
    80% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.2)
    }
}
@media only screen and (max-width: 600px) {
    .page__header {
       display: flex;
       flex-direction: column;
       text-align: center;
    }
    .page__title {
        margin-bottom: 0em;
        margin-top: 0em;
        color: white;
        font-size: 3em;
        animation: slideLeft 2s;
    }
    .page__photo {
        margin-top: 2em;
        height: 15em;
        width: 15em;
    }
    .page__text{
        font-size: 1.5em;
    }
}