.navbar{
    align-items: center;
    background: #7d92a5;
    font-family: 'Titillium Web', sans-serif;
}
.navbar__links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.navbar__links a{
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
.navbar__links a:hover{
   color: pink;
}