.project-images{
    width: 500px;
    height: 300px;
}
.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.projects h2 {
    font-size: 2em;
}
.project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.overlay {
    position: absolute; 
    display: none; 
    z-index: 2; 
    cursor: pointer;
}
.show{
    display: block;
    font-size: 50px;
    color: white;
    text-align: center;
    /* transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%); */
}