.project-images{
    width: 500px;
    height: 300px;
}
.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.projects h2 {
    font-size: 2em;
}
.project-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.overlay {
    display: none;
}
.show {
    display: block;
}